extends layout

block content
  h1= title
  h2 
    a(href="/binom") binom distirbution <br></br>
    a(href="/geometric") geometric distirbution <br></br>
    a(href="/npv") Net Present Value (NPV) 

